global:
  smtp_smarthost: 'localhost:587'
  smtp_from: 'alertmanager@monitordb.com'

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'default'

receivers:
  - name: 'default'
    webhook_configs:
      - url: 'http://monitordb-api:8000/api/v1/alerts/webhook'
        send_resolved: true

